@import "tailwindcss";

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

:root {
  --foreground: #ffffff;
  --background: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}